<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
{% if post.draft %}
<script type="text/javascript">
    function SaveTick() {
        issueSaveAjax({
            {
                post.id
            }
        },
        false);
        setTimeout("SaveTick()", 10000)
    }
    $(document).ready(function() {
        setTimeout("SaveTick();", 10000);
    })
</script>
{% endif %}
{% endblock %}
{% block content %}
<div class="slider">
    <div class="container-fluid">
        <div class="row-fluid">
            <form accept-charset="UTF-8" action="" class="form-inline" id="edit_post" method="post">
                <div class="span1 offset1">
                    <div class="span1 offset5">
                        <div class="row">
                            <span class="label label-inverse">Titile:</span>
                            <br/>
                            <br/>
                        </div>
                        <div class="row">
                            <span class="label label-inverse">Options:</span>
                            <br/>
                            <br/><br/>
                        </div>
                        <div class="row">
                            <span class="label label-inverse">Content:</span>
                        </div>

                    </div>
                </div><!-- end span1 offset1-->
                <div class="span7">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="expandingArea text-title">
                                <input type="text" class="input-block-level" id="post_title" name="post_title" placeholder="Title here" value="{{ post.title }}">

                                </input>
                            </div>
                        </div>
                    </div><!-- end title row-->
                    <div class="row-fluid">
                        <div class="nav-pills span12" >
                            <div class="input-append">
                                <a class="btn btn-inverse add-on">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                                <input id="post_draft" name="post_draft" type="checkbox" value="1" {% if post.draft %}checked{% endif %} />
                            </div>
                            <div class="input-append">
                                <input style="display:none" id="fileName" name="files[]" type="file" multiple="multiple">
                                <a class="btn btn-inverse add-on" onclick="$('input#fileName').click();"><i class="icon-file icon-white"></i>
                                </a>
                                <input id="attach" class="input" type="text">
                                <button id="uploadBtn" class="btn btn-inverse" onClick="uploadFile();return false">upload</button>
                            </div>
                            {% if post.draft %}
                            <a class="btn btn-inverse" href="#" onclick="issueSaveAjax({{ post.id }}, true); return false;"
                            target="_blank">
                                Preview
                            </a>
                            {% else %}
                            <a class="btn btn-inverse" href="{{  url_for('view_post_slug', slug=post.slug) }}" data-pjax="{{  url_for('view_post_slug', slug=post.slug) }}"
                            target="_blank">
                                View live
                            </a>
                            {% endif %}
                            <a class="btn btn-inverse" href="{{ url_for('delete', post_id=post.id, next="admin") }}" data-pjax="{{ url_for('delete', post_id=post.id, next="admin") }}">
                                Delete
                            </a>
                            <button class="btn btn-inverse" onclick="$('#edit_post').submit()">
                                Save
                            </button>
                        </div>
                    </div><!--end option row-->
                    <div class="row-fluid">
                        <div class="span3">
                            <progress value="0" max="100" id="uploadprogress" style="display:none;postion:relative">
                                0
                            </progress>
                        </div>
                        <div id="progUpdate" class="span8">
                            <!-- Success Message -->
                        </div>​
                    </div><!-- end status row-->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="expandingArea text-content" id="edit_post_area">
                                <textarea rows="20" class="input-block-level" id="post_content" name="post_content" placeholder="Write post here">{{ post.text }}</textarea>
                            </div>
                        </div>
                    </div><!-- end content row-->
                </div><!-- end span7-->
                <div class="span3 hide">
                    preview
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}