<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}
{% block js%}
{% endblock%}
{% block content %}
                    <div class="slider">
                        <div class="listing">
                            {% for post in posts %}
                            <div class="post">
                                <div class="row">
                                    <div class="span12">
                                        <section id="post-{{ post.id }}">
                                            <div class="post_header">
                                                <h1><a href="{{ url_for('view_post_slug', slug=post.slug) }}" data-pjax="{{ url_for('view_post_slug', slug=post.slug) }}">{{ post.title }}</a></h1>
                                            </div>

                                            <p style="color: #999;">Posted: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                                                {% if config.get('SHOW_VIEWS_ON_HOMEPAGE','Fasle') == 'True' %},  {{ post.views }} views{% endif %}
                                                {% if is_admin %}
                                                <a href="{{ url_for('edit', post_id=post.id) }} " data-pjax="{{ url_for('edit', post_id=post.id) }}"><span class="label label-inverse">edit</span></span></a>
                                                {% endif%}
                                            </p>
                                            {% if config.get('POST_CONTENT_ON_HOMEPAGE','Fasle') == 'True' %}
                                                {{ post.render_content()|safe }}
                                            {% endif %}
                                        </section>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <ul class="pager">
                            {% if current_page > 0 %}
                                <li class="previous">
                                    <a href="{{ url_for("index", page=current_page - 1) }}">&larr; Previous</a>
                                </li>
                            {% endif %}

                            {% if is_more %}
                                <li class="next">
                                    <a href="{{ url_for("index", page=current_page + 1) }}">Next  &rarr;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
{% endblock %}