<!DOCTYPE html>
<html lang="en">
<link href="../static/css/bootstrap.min.css" type="text/css" media ="screen" rel="stylesheet">
<div class="container">
<div class="page-header">
  <h1>Settings <small>config or something else</small></h1><div class="container">
</div>  <form id="settings" class="form-horizontal">
      <legend>Basic settings</legend>
      <fieldlist>
      <div class="control-group">
          <label class="control-label" for="POSTS_PER_PAGE">Post per page</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-th-list"></i></span>
              <select class="span1" name="POSTS_PER_PAGE">
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
              </select>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="POST_CONTENT_ON_HOMEPAGE1">Show content on homepage</label>
          <div class="controls">
            <div class="input-prepend">
              <label class="radio">
              <input type="radio" name="POST_CONTENT_ON_HOMEPAGE" id="POST_CONTENT_ON_HOMEPAGE1" value="Yes" checked>
              Yes
            </label>
            <label class="radio">
              <input type="radio" name="POST_CONTENT_ON_HOMEPAGE" id="POST_CONTENT_ON_HOMEPAGE2" value="No">
              No
            </label>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="SHOW_VIEWS_ON_HOMEPAGE">Show views on homepage</label>
          <div class="controls">
            <div class="input-prepend">
              <label class="radio">
              <input type="radio" name="SHOW_VIEWS_ON_HOMEPAGE" id="SHOW_VIEWS_ON_HOMEPAGE1" value="Yes" checked>
              Yes
            </label>
            <label class="radio">
              <input type="radio" name="SHOW_VIEWS_ON_HOMEPAGE" id="SHOW_VIEWS_ON_HOMEPAGE2" value="No">
              No
            </label>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="ANALYTICS_ID">Google Analytics id</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input class="span2" name="ANALYTICS_ID" type="email" value={{ config.get("ANALYTICS_ID","0") }}>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="GITHUB_USERNAME">Github username</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input class="span2" name="GITHUB_USERNAME" type="email" value={{ config.get("GITHUB_USERNAME","0") }}>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="GOOGLE_PLUS_PROFILE">Google+ profile</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input class="span2" name="GOOGLE_PLUS_PROFILE" type="email" value={{ config.get("GOOGLE_PLUS_PROFILE","0") }}>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="TWITTER_HANDLE">Twitter id</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input class="span2" name="TWITTER_HANDLE" type="email" value={{ config.get("TWITTER_HANDLE","0") }}>
            </div>
          </div>
        </div>

      <div class="control-group">
          <label class="control-label" for="CONTACT_EMAIL">Email address</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input class="span2" name="CONTACT_EMAIL" type="email" value={{ config.get("CONTACT_EMAIL","0") }}>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="BLOG_TITLE">Blog Title</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-pencil"></i></span>
              <input class="span2" name="BLOG_TITLE" type="email" value={{ config.get("BLOG_TITLE","0") }}>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="BLOG_TAGLINE">Blog Tagline</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-tag"></i></span>
              <input class="span2" name="BLOG_TAGLINE" type="email" value={{ config.get("BLOG_TAGLINE","0") }}>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="FONT_NAME">Font Name</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-font"></i></span>
              <input class="span2" name="FONT_NAME" type="email" value={{ config.get("FONT_NAME","0") }}>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <a class="btn btn-inverse" href="#">
            Save
            </a>
          </div>
        </div>
      </fieldlist>
    </div>
  </form>
</div>
</div>
</html>
